$color-primary: #c19b77;
$color-fade-black:#878788;
$color-semidark-black: #1c1c1d;
$color-white:#fff;
$color-very-light-gray:#efefef;
$color-black:#000;
$color-shade-black:#1c1c1c;
$color-light-shade-black:#151516;
$color-desaturated-orage:#c19b77;
$color-form-bg: #f9f9f9;
$color-form-border: #f1f1f1;